# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Space Invaders.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Phili\OneDrive\Desktop\Programing suit\Space Invaders\.idea\.idea.Space Invaders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
