# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Space-Invaders.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Phili\OneDrive\Desktop\Programing suit\Space-Invaders\.idea\.idea.Space-Invaders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
